body{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

.circle{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	background-position: 50%;
	max-width: 250px;
	height: auto;
}

.intro-content{
	display: block;
	text-align: center;
	color: white;
	padding: 100px;
}

.intro{
	padding-top: 25px;
	background-color: #212b31;
	padding-bottom: 25px;
}

.projects{
	margin-top: -45px;
	background-color: lightblue;
}

.projects-header{
	font-size: 2em;
}

.projects-content{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	padding-top: 1px;
}

.future{
	background-color: #a3b0bd;
	margin-top: -50px;
	padding-top: 5px;
}


.future-header{
	font-size: 2em;
}

.future-content{
	text-align: center;
	color: black;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.laptop{
	margin-top: -30px;
}

.summer{
	background-color: #00B624;
	margin-top: -50px;
	padding-top: 5px;
}

.summer-header{
	font-size: 2em;
}

.summer-content{
	text-align: center;
	color: white;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.education{
	background-color: #002a4a;
	margin-top: -45px;
	padding-top: 5px;
}

.education-header{
	font-size: 2em;
}

.education-content{
	text-align: center;
	color: white;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.umichlogo{
	display: block;
	margin-top: -20px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	height: auto;
}

.contact-content{
	display: block;
	text-align: center;
	background-color: white;
}

a{
	color: black;
	text-decoration: none;
}

.project-github{
	text-decoration: underline;
}

.linklogo{
	max-width: 80px;
	height: auto;
}

h2{
	font-size: 20px;
}

.project-flex-container{
	display: inline-flex;
	margin-top: -40px;
}

.project-info{
	margin: 40px;
	/*border: 1px solid black;
	padding: 5px;*/
}

.projectlogo:hover{
 	cursor: pointer;
}
.projectlogo{
	max-height: 200px;
	width: auto;
	border: 1px solid black;
}

.contact-link{
	display: inline-flex;
	margin: 40px;
	border-radius: 25px;
	padding: 5px;
}

.contact-link:hover{
	background-color: white;
	filter: invert(100%);
	
}